.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, 150px);
  grid-template-areas:
    "Div1 Div2 Div3 Div4 Div5"
    "Div6 Div7 Div8 Div8 Div8";

}

.item {
  text-align: center;
  font-size: 44px;

}

.item1 {
  background-color: rgb(232, 204, 23);
  grid-area: Div1;
}

.item2 {
  background-color: blue;
  grid-area: Div2;
}

.item3 {
  background-color: rgb(88, 5, 241);
  grid-area: Div3;
}

.item4 {
  background-color: rgb(193, 7, 41);
  grid-area: Div4;
}

.item5 {
  background-color: rgb(74, 234, 6);
  grid-area: Div5;
}

.item6 {
  background-color: rgb(244, 9, 9);
  grid-area: Div6;
}

.item7 {
  background-color: rgb(249, 0, 236);
  grid-area: Div7;
}

.item8 {
  background-color: blue;
  grid-area: Div8;
}


@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 150px);
    grid-template-areas:
      "Div1 Div2 Div3 Div4"
      "Div6 Div7 Div8 Div5";
  }
}


@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 150px);
    grid-template-areas:
      "Div1 Div2 Div3"
      "Div4 Div5 Div6"
      "Div7 Div8 Div8";
  }
}



@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 150px);
    grid-template-areas:
      "Div1 Div2"
      "Div3 Div4"
      "Div5 Div6"
      "Div7 Div8"
  }
}