.container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  justify-content:center;
  align-items: center;
  align-content: baseline;
}

div {
  width: 400px;
  height: 200px;
  font-size: 24px;
  text-align: center;


/* This controls how much each item can shrink */
}

.div-1 {
  background-color: aqua;
  font-size: 34px;
  order: 8;


}

.div-2 {
  background-color: rgb(61, 10, 109);
  color: white;
order: 7;
  padding: 30px;
}

.div-3 {
  background-color: rgb(210, 27, 204);
order: 6;
}

.div-4 {
  background-color: rgb(60, 203, 24);
  order: 5;
}

.div-5 {
  background-color: rgb(191, 214, 15);
  order: 4;
}

.div-6 {
  background-color: rgb(226, 180, 15);
  order: 3;
}

.div-7 {
  background-color: rgb(26, 136, 136);
  order: 2;
}

.div-8 {
  background-color: rgb(219, 12, 12);
  order: 1;
  color: white;
}
