* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 15px;
    width: 100%;

    background-color: rgb(255, 255, 255);
}

nav>.nav {
    width: 100%;
    padding: 2px 30px;
    display:inline-block;
}

nav>.nav > .nav-links{
 width: 70%;

}
nav>.nav > .nav-links ul{
    list-style: none;
    padding: 2px 130px;
}
nav>.nav > .nav-links li{
    display: inline-block;
    padding: 5px 10px;
    font-weight: bolder;
    font-family: Verdana;
    font-size: 14px;
}

nav>.nav > .nav-search{
    position: absolute;
    top: 25px;
    right: 20px;

}

nav>.nav > .nav-search>  input{
 border: 0;
}


/* Header section start */

header{
    width: 100%;
    height: 600px;

}
header .heading{
    width: 100%;
    height: 100px;
    text-align: center;
}

header > .background{
     width: 100%;
    height: 400px;
    background-image: url('../img/bg.jpg');
}

