* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 15px;
    width: 100%;

    background-color: rgb(255, 255, 255);
}



nav>.nav {
    width: 100%;
    padding: 2px 30px;
    display: grid;
    grid-template-columns: 80px auto 200px;
    grid-template-areas: "nav-img nav-links nav-search";

}

nav>.nav>.nav-toggler {
    grid-area: nav-toggler;
    display: none;
}


nav>.nav>.nav-img {
    width: 10%;
    grid-area: nav-img;
}

nav>.nav>.nav-img>img {
    width: 50px;
}

nav>.nav>.nav-links {
    width: 60%;
    grid-area: nav-links;

}

nav>.nav>.nav-links ul {
    list-style: none;
    padding: 2px 60px;
}

nav>.nav>.nav-links li {
    display: inline-block;
    padding: 5px 10px;
    font-weight: bolder;
    font-family: Verdana;
    font-size: 14px;
}

nav>.nav>.nav-search {
    position: absolute;
    top: 25px;
    right: 20px;
    grid-area: nav-search;

}

nav>.nav>.nav-search>input {
    border: 0;
}


/* Header section start */

header {
    width: 100%;
    height: 600px;

}

header .heading {
    width: 100%;
    height: 100px;
    text-align: center;
}

header>.background {
    width: 100%;
    height: 400px;
    background-image: url('../img/bg.jpg');
}




@media screen and (max-width: 1100px) {

    nav>.nav {
        width: 100%;
        padding: 2px 30px;
        display: grid;
        grid-template-columns: 80px auto;
        grid-template-areas: "nav-img nav-links";
    }

    nav>.nav>.nav-img {

        grid-area: nav-img;
    }

    nav>.nav>.nav-img>img {
        width: 50px;
    }

    nav>.nav>.nav-links {
        width: 95%;
        grid-area: nav-links;
    }

    nav>.nav>.nav-links ul {
        list-style: none;
        padding: 2px auto 2px 60px;
    }

    nav>.nav>.nav-links li {
        display: inline-block;
        padding: 5px 10px;
        font-weight: bolder;
        font-family: Verdana;
        font-size: 14px;
    }

    nav>.nav>.nav-search {
        display: none;

    }



}

@media screen and (max-width: 768px) {

    nav>.nav {
        width: 100%;
        padding: 2px 30px;
        display: grid;
        grid-template-columns: 10px 95%;
        grid-template-areas: "nav-img nav-toggler";
    }

    nav>.nav>.nav-img {

        grid-area: nav-img;
    }

    nav>.nav>.nav-img>img {
        width: 50px;
    }

    nav>.nav>.nav-links {
        display: none;
    }

@media screen and (max-width: 768px) {

    nav > .nav > .nav-toggler {
        display: block;
        grid-area: nav-toggler;
        text-align: right;
        padding-right: 10px;
    }
}


    nav>.nav>.nav-toggler>.toggler {

        position: relative;
        top: 10px;
        right: 10px;
        font-size: 24px;
    }


    nav>.nav>.nav-search {
        display: none;

    }



}